TELEGRAM_BOT_TOKEN=isi_token_bot_telegram_di_sini
TELEGRAM_CHAT_ID=isi_chat_id_telegram_di_sini

CHECK_INTERVAL_SECONDS=60
MAX_TOKENS_PER_CYCLE=25

NEW_MAX_AGE_MINUTES=360
NEW_MIN_LIQUIDITY_USD=10000
NEW_MIN_VOLUME_M5_USD=3000
NEW_MIN_TXNS_M5=30
NEW_MIN_BUY_SELL_RATIO=1.4
NEW_MIN_PRICE_CHANGE_M5=3
NEW_MAX_PRICE_CHANGE_M5=45
NEW_MAX_MARKET_CAP_USD=1500000

ACC_MIN_AGE_HOURS=24
ACC_MIN_LIQUIDITY_USD=20000
ACC_MIN_VOLUME_H1_USD=10000
ACC_MIN_VOLUME_SPIKE_RATIO=1.7
ACC_MIN_BUY_SELL_RATIO=1.3
ACC_MIN_PRICE_CHANGE_H1=0
ACC_MAX_PRICE_CHANGE_H1=30
ACC_MIN_LIQUIDITY_STABILITY=0.85
